In [ ]:
text = 'CTTCGAAAGTTTGGGCCGAGTCTTACAGTCGGTCTTGAAGCAAAGTAACGAACTCCACGGCCCTGACTACCGAACCAGTTGTGAGTACTCAACTGGGTGAGAGTGCAGTCCCTATTGAGTTTCCGAGACTCACCGGGATTTTCGATCCAGCCTCAGTCCAGTCTTGTGGCCAACTCACCAAATGACGTTGGAATATCCCTGTCTAGCTCACGCAGTACTTAGTAAGAGGTCGCTGCAGCGGGGCAAGGAGATCGGAAAATGTGCTCTATATGCGACTAAAGCTCCTAACTTACACGTAGACTTGCCCGTGTTAAAAACTCGGCTCACATGCTGTCTGCGGCTGGCTGTATACAGTATCTACCTAATACCCTTCAGTTCGCCGCACAAAAGCTGGGAGTTACCGCGGAAATCACAG'
k = 4

In [ ]:
from collections import Counter
from itertools import product
from google.colab import files
import numpy as np
import pandas as pd

# HW1

In [ ]:
uploaded = files.upload()

In [ ]:
#Read FASTA file
try:
    # f=open('myfile.fa')
    f=open('rosalind_kmer_3.txt')
except IOError:
    print("Your file doesn't exist!")
    
#Prep the variables
seq = {} #a dictionary that will store the sequence name (key) and the actual sequence (value)
for line in f:
    if(line[0]=='>'): #if it's a header file
        words = line.split()
        seqName = words[0][1:] #disregard the '>' with the [1:]
        seq[seqName] = '' #create a new entry (/key) to the seq dictionary. seqName is the key here, and it has no value just yet
    else:
        newLine = line.strip()
        seq[seqName]=seq[seqName]+newLine

# print(seq)
text = seq['Rosalind_1013']
text

Your file doesn't exist!

NameError: ignored

In [ ]:
#Find all kmers
kmers = []
for i in range(0,len(text)-4+1):
  kmers.append(text[i:i+4]) 
kmers.sort()

#Count how many kmers
count = Counter(kmers) #count is a dictionary with kmer as key and its count as value
print(count)

In [ ]:
#Find all possible kmers
all_possible_kmers = []
for output in product('ACGT', repeat=4):
  all_possible_kmers.append(''.join(output))
print(all_possible_kmers)

In [ ]:
# Matching
result = {}
for all in all_possible_kmers:
  if all in count:
    result[all] = count[all]
  else:
    result[all] = 0
result

In [ ]:
for c in result:
  print(result[c], end = ' ')

In [ ]:
f = open('rosalind_kmer (1).txt', 'r')
sequ=''
#content=f.read().replace('\n', '')
for line in f:
  if(line[0]=='>'): 
    continue
  else:
    newline=line.strip()
    sequ+=newline

sequ

In [ ]:
#FOR HW1 #2
cg_kmers = []
for i in all_possible_kmers:
  if 'CG' in i:
    cg_kmers.append(i)
len(cg_kmers)

In [ ]:
#HW 2d(a)
res = 0
for n in range(1,1001):  
  u = 200
  s = 20
  a = ((n-u)**2)/(2*(s**2))
  res = res + np.exp(-a)  
const = 1/res

In [ ]:
#HW 2d(a)
out = 0
u = 200
s = 20
for n in range(1,1001):
  a = ((n-u)**2)/(2*(s**2))
  out = out + n*const*np.exp(-a)

1000-out+1

In [ ]:
#HW 2d(b)
res = 0
for n in range(1,1001):  
  u = 200
  s = 100
  a = ((n-u)**2)/(2*(s**2))
  res = res + np.exp(-a)  
const = 1/res

In [ ]:
#HW 2d(b)
out = 0
u = 200
s = 100
for n in range(1,1001):
  a = ((n-u)**2)/(2*(s**2))
  out = out + n*const*np.exp(-a)

1000-out+1

In [ ]:
#HW3 2a
def hmVal(dc1, dc2, i):
  #i is which cluster are we doing this time. For 1,1, i=0
  c = [[0.1, 0.9], [0.5, 0], [0.9, 0.5]]
  dist_target = np.sqrt((dc1-c[i][0])**2 + (dc2-c[i][1])**2)
  f = np.exp(-0.5*dist_target)
  
  dp1 = np.sqrt((dc1-c[0][0])**2 + (dc2-c[0][1])**2) 
  dp2 = np.sqrt((dc1-c[1][0])**2 + (dc2-c[1][1])**2) 
  dp3 = np.sqrt((dc1-c[2][0])**2 + (dc2-c[2][1])**2)
  sig = np.exp(-0.5*dp1) + np.exp(-0.5*dp2) + np.exp(-0.5*dp3)
  
  return f/sig

In [ ]:
c1 = 9 #vary depending on datapoint of interest
c2 = 0.1 #vary depending on datapoint of interest
a = hmVal(c1,c2,0)
b = hmVal(c1,c2,1)
c = hmVal(c1,c2,2)

print(a,b,c)

# HW3

In [ ]:
#HW3 2b
def dot_prod(v1,v2):
  res = 0
  for idx in range(len(v1)):
      res = res + v1[idx]*v2[idx]
  return res

def Mstep(hm, dp):
  v1 = [1,1,1,1,1,1]
  return dot_prod(hm, dp) / dot_prod(hm, v1)

In [ ]:
hm1 = [0.33,0.31,0.29,0.34,0.34,0.27]
hm2 = [0.37, 0.39, 0.41, 0.28, 0.29, 0.33]
hm3 = [0.3, 0.31, 0.31, 0.38, 0.37, 0.4]

dp1 = [0.1,0.2,0.3,1,0.8,9]
dp2 = [0.2,0.1,0,1.2,1,0.1]

print("Updated cluster 1:", Mstep(hm1,dp1), Mstep(hm1,dp2))
print("Updated cluster 2:", Mstep(hm2,dp1), Mstep(hm2,dp2))
print("Updated cluster 3:", Mstep(hm3,dp1), Mstep(hm3,dp2))

In [ ]:
#HW3 2c
def hmValNewt(dc1, dc2, i):
  #i is which cluster are we doing this time. For 1,1, i=0
  c = [[0.1, 0.9], [0.5, 0], [0.9, 0.5]]
  dist_target = np.sqrt((dc1-c[i][0])**2 + (dc2-c[i][1])**2)
  f = 1/(dist_target**2)
  
  dp1 = 1/((dc1-c[0][0])**2 + (dc2-c[0][1])**2) 
  dp2 = 1/((dc1-c[1][0])**2 + (dc2-c[1][1])**2) 
  dp3 = 1/((dc1-c[2][0])**2 + (dc2-c[2][1])**2)
  sig = dp1+dp2+dp3
  
  return f/sig

In [ ]:
c1 = 9
c2 = 0.1
a = hmValNewt(c1,c2,0)
b = hmValNewt(c1,c2,1)
c = hmValNewt(c1,c2,2)

print(a,b,c)

In [ ]:
#HW3d
hm1 = [0.24, 0.12, 0.04, 0.3, 0.3, 0.3]
hm2 = [0.59, 0.76, 0.9, 0.16, 0.14, 0.33]
hm3 = [0.16, 0.12, 0.06, 0.54, 0.57, 0.37]

dp1 = [0.1,0.2,0.3,1,0.8,9]
dp2 = [0.2,0.1,0,1.2,1,0.1]

print("Updated cluster 1:", Mstep(hm1,dp1), Mstep(hm1,dp2))
print("Updated cluster 2:", Mstep(hm2,dp1), Mstep(hm2,dp2))
print("Updated cluster 3:", Mstep(hm3,dp1), Mstep(hm3,dp2))

# HW 4

In [ ]:
#Q1
class TrieNode:
    def __init__(self, char):
        self.char = char
        self.is_end = False
        self.children = {}

class Trie(object):
    def __init__(self): 
        self.root = TrieNode("")  

    def insert(self, word):
        node = self.root
        for char in word:
            if char in node.children:
                node = node.children[char]
            else:
                new_node = TrieNode(char)
                node.children[char] = new_node
                node = new_node        
        node.is_end = True
         
    def dfs(self, node, pre): 
        if node.is_end:
            self.output.append((pre + node.char))        
        for child in node.children.values():
            self.dfs(child, pre + node.char)
         
    def search(self, x):        
        node = self.root         
        for char in x:
            if char in node.children:
                node = node.children[char]
            else:              
                return []       
        self.output = []
        self.dfs(node, x[:-1])
        return self.output

In [ ]:
s = ['tah','acta','hhctnd','ca','hhca','tatt','tac','actna','hhctna','ctn']
tr = Trie()
for i in s:
  tr.insert(i)

In [ ]:
tr.search('')

['tah',
 'tatt',
 'tac',
 'acta',
 'actna',
 'hhctnd',
 'hhctna',
 'hhca',
 'ca',
 'ctn']

In [ ]:
#Q2
text = 'tactnahhctndhhctna'
count = 0
for char in text:
  fromTrie = tr.search(char)
  #Make a list of sizes of fromTrie
  sizes = []
  for trieWs in fromTrie:
    sizes.append(len(trieWs))

  for trieW in fromTrie:
    if trieW in text[count:count+max(sizes)]:
      print('Match in position',count,'for pattern',trieW)
  count+=1

Match in position 0 for pattern tac
Match in position 1 for pattern actna
Match in position 2 for pattern ctn
Match in position 6 for pattern hhctnd
Match in position 8 for pattern ctn
Match in position 12 for pattern hhctna
Match in position 14 for pattern ctn

In [ ]:
#Q3
text = 'aaaaaaaaagaaa$'
suffixtree = Trie()
for i in range(0, len(text)):
  suffixtree.insert(text[i:])
tmp = suffixtree.search('')
tmp.sort(reverse=True, key = lambda x:len(x))
print(len(tmp))
tmp

14

['aaaaaaaaagaaa$',
 'aaaaaaaagaaa$',
 'aaaaaaagaaa$',
 'aaaaaagaaa$',
 'aaaaagaaa$',
 'aaaagaaa$',
 'aaagaaa$',
 'aagaaa$',
 'agaaa$',
 'gaaa$',
 'aaa$',
 'aa$',
 'a$',
 '$']

In [ ]:
#Q4 Suffix Array
sfa = {}
for i in range(len(tmp)):
  sfa[i] = tmp[i]

new = sorted(sfa.items(), key = lambda x : x[1])
new

#The suffix array is obtained from the key of the dictionary
sfxa = []
for i in new:
  sfxa.append(i[0])
#sfxa
new

[(18, '$'),
 (17, 'a$'),
 (1, 'actnahhctndhhctna$'),
 (5, 'ahhctndhhctna$'),
 (14, 'ctna$'),
 (2, 'ctnahhctndhhctna$'),
 (8, 'ctndhhctna$'),
 (11, 'dhhctna$'),
 (13, 'hctna$'),
 (7, 'hctndhhctna$'),
 (12, 'hhctna$'),
 (6, 'hhctndhhctna$'),
 (16, 'na$'),
 (4, 'nahhctndhhctna$'),
 (10, 'ndhhctna$'),
 (0, 'tactnahhctndhhctna$'),
 (15, 'tna$'),
 (3, 'tnahhctndhhctna$'),
 (9, 'tndhhctna$')]

In [ ]:
#Q5 BWT
#Get cyclic rotation of text
text = 'banamabananas$'
cyc = [text]
for i in range(0, len(text)-1):
  tmp1 = text[-1] + text[0:-1]
  text = tmp1
  cyc.append(text)
cyc

['banamabananas$',
 '$banamabananas',
 's$banamabanana',
 'as$banamabanan',
 'nas$banamabana',
 'anas$banamaban',
 'nanas$banamaba',
 'ananas$banamab',
 'bananas$banama',
 'abananas$banam',
 'mabananas$bana',
 'amabananas$ban',
 'namabananas$ba',
 'anamabananas$b']

In [ ]:
#Sort it lexicographically
cyc.sort()
cyc

['$tactnahhctndhhctna',
 'a$tactnahhctndhhctn',
 'actnahhctndhhctna$t',
 'ahhctndhhctna$tactn',
 'ctna$tactnahhctndhh',
 'ctnahhctndhhctna$ta',
 'ctndhhctna$tactnahh',
 'dhhctna$tactnahhctn',
 'hctna$tactnahhctndh',
 'hctndhhctna$tactnah',
 'hhctna$tactnahhctnd',
 'hhctndhhctna$tactna',
 'na$tactnahhctndhhct',
 'nahhctndhhctna$tact',
 'ndhhctna$tactnahhct',
 'tactnahhctndhhctna$',
 'tna$tactnahhctndhhc',
 'tnahhctndhhctna$tac',
 'tndhhctna$tactnahhc']

In [ ]:
#Get the BWT from last char of each row
bwt = []
for c in cyc:
  bwt.append(c[-1])

#Extract as string
bwt_str = ''
for i in bwt:
  bwt_str += i    
print(bwt_str)

antnhahnhhdattt$ccc

In [ ]:
#Q7
#Get last col
tmp={}
lastcol=[]
for i in bwt:
  if i =='$':
    lastcol.append(i)
  elif i not in tmp:
    tmp[i] = 1
    lastcol.append(i + str(tmp[i]))
  elif i in tmp:
    tmp[i] = tmp[i] + 1
    lastcol.append(i + str(tmp[i]))

print("Last Column is",lastcol)

firstcol = lastcol
firstcol.sort()
print("First Column is",firstcol)

#Get lastToFirst()
lastToFirst = sfxa
print("Last to First is", lastToFirst)

Last Column is ['a1', 'n1', 't1', 'n2', 'h1', 'a2', 'h2', 'n3', 'h3', 'h4', 'd1', 'a3', 't2', 't3', 't4', '$', 'c1', 'c2', 'c3']
First Column is ['$', 'a1', 'a2', 'a3', 'c1', 'c2', 'c3', 'd1', 'h1', 'h2', 'h3', 'h4', 'n1', 'n2', 'n3', 't1', 't2', 't3', 't4']
Last to First is [18, 17, 1, 5, 14, 2, 8, 11, 13, 7, 12, 6, 16, 4, 10, 0, 15, 3, 9]

In [ ]:
def PreprocessBWT(bwt, alphabet = ['$', 'a', 'c', 't', 'n', 'h', 'd']):
    """
    Preprocess the Burrows-Wheeler Transform bwt of some text
    and compute as a result:
    * starts - for each character C in bwt, starts[C] is the first position 
        of this character in the sorted array of 
        all characters of the text.
    * counts - for each character C in bwt and each position P in bwt,
        occ_count_before[C][P] is the number of occurrences of character C in bwt
        from position 0 to position P inclusive.
    """
    l = len(bwt)
    counts = dict()
    starts = dict()
    for char in alphabet:
        counts[char] = [0] * (l + 1)
    for i in range(l):
        currChar = bwt[i]
        for char, count in counts.items():
            counts[char][i+1] = counts[char][i]
        counts[currChar][i+1] += 1
    currIndex = 0
    for char in sorted(alphabet):
        starts[char] = currIndex
        currIndex += counts[char][l]
    return starts, counts

def CountOccurrences(pattern, bwt, starts, counts):
    """
    Compute the number of occurrences of string pattern in the text
    given only Burrows-Wheeler Transform bwt of the text and additional
    information we get from the preprocessing stage - starts and counts.
    """
    top = 0
    bottom = len(bwt) - 1
    currIndex = len(pattern) - 1
    print(top, bottom)
    while top <= bottom:
        if currIndex >= 0:
            symbol = pattern[currIndex]
            currIndex -= 1
            if counts[symbol][bottom+1] - counts[symbol][top] > 0:
                
                top = starts[symbol] + counts[symbol][top]
                bottom = starts[symbol] + counts[symbol][bottom+1] - 1
                print(top, bottom)
            else:
                return 0
        else:
            return bottom - top + 1

In [ ]:
pattern = 'ctn'

starts, occ_counts_before = PreprocessBWT(bwt)
CountOccurrences(pattern, bwt, starts, occ_counts_before)

#a=BWMatching('tactnahhctndhhctna', lastcol, 'ctn', lastToFirst)

0 18
12 14
16 18
4 6

3

In [ ]:
#Q7
def countOcc(symbol, idx, lastcol, text):
  idx_count = {}
  a = list(''.join(set(text)))
  a.sort()

  for c in a:
    tmp = []
    for i in range(len(lastcol) + 1):
      if i == 0:
        tmp.append(i)
      else:
        if char in lastcol[i-1]:
          tmp.append(tmp[-1]+1)
        else:
          tmp.append(tmp[-1])
    idx_count[char] = tmp
  return idx_count[symbol][idx]

def ret_first(symbol):
  for i in range(len(firstcol)):
    if symbol in firstcol[i]:
      return i

def BWMatching(text, firstcol, lastcol, pattern):
  top = 0
  bottom = len(bwt) - 1
  currIndex = 0
  while top <= bottom:
      if len(pattern) != 0:
          symbol = pattern[-1]
          pattern = pattern[:-1]
          if any(symbol in i for i in lastcol[top:bottom]):
              print(top, bottom)
              top = ret_first(symbol) + countOcc(symbol, top, lastcol, text)
              top = ret_first(symbol) + countOcc(symbol, bottom+1, lastcol, text)-1
              print(top, bottom)
          else:
              return 0
      else:
          return bottom - top + 1

# FINAL

In [ ]:
uploaded = files.upload()

Saving problem1.tsv to problem1.tsv

In [ ]:
df = pd.read_csv('problem1.tsv', sep = '\t', header=None)
df

             0          1
0     0.072435   0.004788
1    -0.093958   0.118346
2     1.637295   0.021868
3     0.266178  -0.042178
4     0.672105  -0.403411
..         ...        ...
195   9.864852   8.486013
196   9.934785   9.162691
197  11.232787   8.870784
198   7.948785  10.471377
199  10.613488  10.619704

[200 rows x 2 columns]